/* Add these styles to your CSS file (e.g., styles.css) */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
.login-form-container {
    text-align: center;
    display: flex;

    justify-content: center;
    color: rgb(20, 20, 20);
    padding: 10px; /* Adjust the padding as needed */

    border-radius: 10px;
    margin: 0.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Set a max-width to your form if needed */
    padding: 10px; /* Adjust the padding as needed */
    border: 1px solid rgb(70, 62, 62);
    border-radius: 10px;
    margin: 0.5rem;
}

.label {
    text-align: left;
    padding: 0.25rem 0;
    color: black;
}

.input {
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
}

button {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #9c837c;
}